/* for real seamless animation, use something like
 * http://bl.ocks.org/veltman/fa74a3aff8497e970454bb064cf8dfd1
 */

/* good introduction to Flexbox/CSS grid:
 * <https://hackernoon.com/the-ultimate-css-battle-grid-vs-flexbox-d40da0449faf>
 */

/* for a nice styling of radio buttons:
 * <https://codepen.io/AngelaVelasquez/pen/BWXbxP>
 */

.container {
  display: grid;
  grid-template-columns: 48px repeat(11, 1fr);
  grid-template-rows: 350px 50px;
}

aside {
  grid-column: span 1;
  display: flex;
  flex-direction: column;
}

main {
  grid-column: span 11;
}

footer {
  grid-column: span 12;
}

aside svg {
  width: 48px;
  height: auto;
}

input[type="radio"] {
  display: none;
}


#svg rect {
  stroke: #5184AF;
  stroke-width: 10;
}

#svg rect:hover {
  stroke: red;
  stroke-dasharray: 10;
  /*animation: dash 60s linear infinite;*/
}


@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}
